/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
} */
/*--DASHBOARD CSS--*/
        /* products tags css */
        .tags-input {
            display: inline-block;
            position: relative;
            border: 1px solid #d9dee3;
            border-radius: 4px;
            padding: 5px;
            /*! box-shadow: 2px 2px 5px #00000033; */
            width: 100%;
        }

        .tags-input ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .tags-input li {
            display: inline-block;
            background-color: #f2f2f2;
            color: #333;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .tags-input input[type="text"] {
            border: none;
            outline: none;
            padding: 5px;
            font-size: 14px;
        }

        .tags-input input[type="text"]:focus {
            outline: none;
        }

        .tags-input .delete-button {
            background-color: transparent;
            border: none;
            color: #999;
            cursor: pointer;
            margin-left: 5px;
        }

        /* Switch */

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 1px;
            bottom: 0px;
            background-color: white;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #07c400;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #07c400;
        }

        input:checked+.slider:before {
            transform: translateX(20px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
.dashboard-card{
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     padding: 25px;
     text-align: center;
}
.dashboard-card i{
    color:#222;
    font-size: 28px;

    }

.dashboard-card h5{
    font-size: 28px;
    color: #6ACF7B;
    font-weight: 600;
}
.sales-chart{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none!important;
    padding: 25px 0px!important;
}

/*---user dashboard--*/
.user-order-manage h3{
    color:#000;
}
.user-order-manage thead{
    padding-top: 70px !important;
}
.user-order-manage table tr td {
    color:#000;
    padding: 25px 0px!important;
}
.product-download-btn{
    background-color:#1CBD9D;
    color:#fff;
    padding:8px 20px;
    text-decoration: none;
}
.cancel-product a{
background-color: #DC3545;
color: #fff;
padding: 5px 7px;
border-radius: 12px;
font-size: 14px;
}
/*--order manage table--*/
.replace-download-btn{
    background-color: #31D2F2;
    color:#fff;
    padding:8px 20px;
    text-decoration: none;
}
/* .processing{
    background-color: #36B9CC;
    color:#fff;
    border-radius: 30px;
} */
.problem-file input{
    width: 50%;
}
.inventory-title{
    color:#222;
}
.invetory-store form label{
    color: #222;
}
